<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Client Info</title>
</head>
<body>
<p th:if="${customerError}" class="error">
	<h1><td th:text="${customerError}"></td></h1>
</p>
<div th:if="${customer} != null">
<table BORDER="5" BORDERCOLOR="#808080" CELLSPACING="1" WIDTH="350">
<caption><FONT FACE="ARIAL" SIZE="5">Client Kayıtları</FONT></caption>
	<tr>
		<th>Number</th>
		<th>E-mail</th>
		<th>BirthDay</th>
	</tr>
	<tr th:each="c:${customer}">
		<td th:text="${c.number}"></td>
		<td th:text="${c.email}"></td>
		<td th:text="${c.birthday}"></td>
	</tr>
</table>
</div>
</body>
</html>