<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Merchant-Acquirer Report</title>

<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sonucGetir.js}"></script>

</head>
<body>

<div align="center">
<form>
    <span >Report Details</span>
    <div class="listBlock">
        <div class="search-block">
            <label for="fromDate">Start Date</label>:
            <input type="text" id="fromDate" name="fromDate" text = "From Date"/><br/>
            <label for="toDate">End Date</label>:
			<input type="text" id="toDate" name="toDate" text = "To Date"/> <br/>
        	<label for="merchant">Merchant:</label>
            <input type="text" id="merchant" name="merchant" text="Merchant Id"/><br />
        	<label for="acquirer">Search label:</label>
            <input type="text" id="acquirer" name="acquirer" text="Acquirer Id"/><br/>
            <button id="searchButton" name="searchButton" onclick="sonucGetir()" type="button">Search button</button>
        </div>

        <!-- Results block -->
        <div id="resultsBlock" style="display:none">

	       <table id="table1" BORDER="5" BORDERCOLOR="#808080" CELLSPACING="1" WIDTH="300">
			<caption><FONT FACE="ARIAL" SIZE="2">Liste Kayıtları</FONT></caption>
	                <tr>
	                    <th>Count</th>
						<th>Total</th>
						<th>Currency</th>
	                </tr>
	        </table>
        </div>
        <br/>
        <br/>
        <a th:href="@{/process/welcome}">Geri Dön</a>
    </div>
</form>

</div>

</body>
</html>